---
layout: default
---

<section class="hero">
  <div class="hero-img">
    <img src="images/home-slide-1.jpg" alt="" class="img-slide">
    <img src="images/home-slide-2.jpg" alt="" class="img-slide">
    <img src="images/home-slide-3.jpg" alt="" class="img-slide">
  </div>
  <h1 class="hero-title">Footing-club <em>Lausanne</em></h1>
</section>

<div id="infos">
  <section id="workouts">
    {% assign week = site.time | date: '%W' | to_integer %}

    <h2 class="title" title="Semaine {{ week }}">
      <span class="icon"><i class="far fa-calendar-alt"></i></span>
      Cette semaine
    </h2>
    <ul>
      {% for workout in site.data.workouts[week] %}
      <li>
        <small>
          <strong>{{ workout.date }}</strong> - {{ workout.location }}
          {% unless workout.location contains "Gobet" or workout.location contains "Coubertin" %}
          <i class="fas fa-exclamation-triangle"></i>
          {% endunless %}
        </small><br>
        {{ workout.title }}
      </li>
      {% endfor %}
    </ul>

    <p>
      <span class="icon"><i class="fas fa-caret-right"></i></span>
      <a href="planning">Voir le planning complet</a>
    </p>
  </section>

  <section id="news">
    <h2 class="title">
      <span class="icon"><i class="fas fa-bullhorn"></i></span>
      Actualités
    </h2>
    <ul>
      {% for post in site.posts %}
      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </section>
</div>