<footer id="footer">
  <div class="container">
    <div id="footer-logo">
      <img src="../images/logo-white.png" alt="Footing club Lausanne">
      <div>
        <h4>Footing-club Lausanne</h4>
        <p>Le Chalet-à-Gobet, Suisse</p>
        <p><a href="mailto:webmaster@footing-club.ch">Contactez-nous</a></p>
      </div>
    </div>

    <div id="footer-social">
      <h4>Suivez-nous</h4>
      <ul>
        <li><a href="https://www.facebook.com/groups/172304039473160" target="_blank"><i
          class="fab fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/footing_club_lausanne/" target="_blank"><i class="fab fa-instagram"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>