<nav id="navbar">
  <div id="logo">
    <a href="{{ '/' | relative_url }}">
      <img src="{{ 'images/logo.png' | relative_url }}" alt="Footing-club logo" id="logo">
    </a>
  </div>

  <ul id="menu">
    <li><a href="club">Le club</a></li>
    <li><a href="news">Actualités</a></li>
    <li class="spacer"></li>
    <li><a href="{{ 'pdfs/planning.pdf' | relative_url }}" target="_blank">Plan d'entraînement</a></li>
    <li><a href="inscription">Inscription</a></li>
  </ul>

  <div id="menu-toggler">
    <a href="#" onclick="return toggleMenu()">
      <i class="fas fa-bars"></i>
    </a>
  </div>
</nav>