// Infos (planning & news)
// ----------------------------------------------------------------------------

#infos
  display: flex
  flex-direction: column
  margin-bottom: 30px

  +desktop
    flex-direction: row

#infos-planning
  font-size: 14px
  margin-bottom: 24px
  background: #e55244
  padding: 24px
  box-shadow: 2px 2px 8px #ddd
  color: #fff
  background: $primary-color url("../images/workouts-bg.jpg") no-repeat center center / cover

  +tablet
    padding: 32px

  +desktop
    margin-right: 16px
    margin-bottom: 0
    padding: 24px
    flex-basis: 450px

  li
    margin-bottom: 16px

#infos-news
  font-size: 14px
  background: #ccc
  flex-grow: 1
  padding: 24px
  box-shadow: 2px 2px 8px #ddd
  background: url("../images/news-bg.jpg") no-repeat center center / cover

  +tablet
    padding: 32px

  +desktop
    padding: 24px

  li
    margin-bottom: 12px

  a
    color: #4a4a4a
    text-decoration: none

    &:hover
      color: #333

  strong
    color: $primary-color

.icon
  margin-right: 5px

a
  color: #fff


// Club
// ----------------------------------------------------------------------------

#club
  display: flex
  flex-direction: column
  align-items: center

  +tablet
    flex-direction: row

#club-text
  flex-grow: 1
  flex-basis: 0

  h2
    font-size: 40px
    color: #333
    text-align: center
    background: url("../images/trash-bg-sm.png") no-repeat center
    width: 211px
    height: 118px
    line-height: 100px
    margin: 0 auto 16px auto
    text-transform: uppercase
    font-weight: bold
    position: relative
    letter-spacing: -1px

    &:after
      content: ''
      position: absolute
      bottom: 30px
      left: 35%
      width: 30%
      border-bottom: 3px solid $primary-color
      box-shadow: 2px 2px 8px #666

  p
    line-height: 30px
    margin: 0 0 20px 0
    text-align: center

    +desktop
      margin: 25px 60px

  a
    color: $primary-color
    font-weight: bold

#club-img
  background: url("../images/trash-red.png") no-repeat left center / contain
  flex-grow: 1
  flex-basis: 0
  width: 100%

  img
    width: 350px
    border: solid 8px #fff
    box-shadow: 2px 2px 8px #333
    display: block
    margin: 10px auto
    max-width: 90%

    +tablet
      width: 320px

    +desktop
      width: 350px


// Facts
// ----------------------------------------------------------------------------

#facts
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  vertical-align: center
  text-align: center
  padding-top: 30px

  +tablet
    flex-direction: row

  .fact
    margin: 20px 0

    +tablet
      margin: 40px 0

  .fact-data
    font-size: 50px
    font-weight: bold
    color: $primary-color
    line-height: 1


// Join us
// ----------------------------------------------------------------------------

#join-us
  display: flex
  flex-direction: column
  align-items: center
  vertical-align: center
  background: url("../images/background-red-trash.png") repeat-x top center
  padding: 150px 0

  h3
    font-size: 30px
    color: #fff
    text-transform: uppercase
    line-height: 150px
    font-weight: bold
    position: relative
    letter-spacing: -1px

    +tablet
      font-size: 40px

    &:after
      content: ''
      position: absolute
      bottom: 30px
      left: 35%
      width: 30%
      border-bottom: 3px solid #fff

  .btn
    background-color: #fff
    color: #333
    font-weight: bold
    text-transform: uppercase
    font-size: 16px
    padding: 10px 20px
    letter-spacing: -1px
    text-decoration: none

    +tablet
      padding: 12px 24px

    &:hover
      background-color: #fafafa
      color: #222


// Photos
// ----------------------------------------------------------------------------

#photos
  padding: 30px 40px
  text-align: center

  h2
    font-size: 35px
    text-transform: uppercase
    margin-bottom: 32px

    &:after
      border-bottom-color: $primary-color
      left: 30%

  p
    margin: 30px 0 20px 0
    color: $primary-color

  a
    font-weight: bold
    color: $primary-color

  #photos-grid
    display: grid
    grid-template-columns: auto auto
    grid-gap: 16px

    +tablet
      grid-template-columns: auto auto auto auto
      grid-gap: 24px

    img
      display: block
      border: solid 3px #fff
      box-shadow: 1px 1px 8px #333

      +tablet
        border-width: 5px