#infos
  display: flex
  flex-direction: column
  background: #fff
  padding: 0 16px
  margin: 0 auto

  +tablet
    padding: 0 32px 32px 32px

  +desktop
    flex-direction: row

#workouts
  margin-bottom: 24px
  background: #e55244
  padding: 24px
  box-shadow: 2px 2px 8px #ddd
  color: #fff
  background: $primary-color url("../images/workouts-bg.jpg") no-repeat center center / cover
  font-size: 14px

  +tablet
    padding: 32px

  +desktop
    margin-right: 16px
    margin-bottom: 0
    padding: 24px
    flex-basis: 450px

  li
    margin-bottom: 16px

#news
  background: #ccc
  flex-grow: 1
  padding: 24px
  box-shadow: 2px 2px 8px #ddd
  background: url("../images/news-bg.jpg") no-repeat center center / cover

  +tablet
    padding: 32px

  +desktop
    padding: 24px

  li
    line-height: 30px

  a
    color: #4a4a4a
    text-decoration: none

    &:hover
      color: #333

  strong
    color: $primary-color

.icon
  margin-right: 5px

a
  color: #fff