// Navbar
// ----------------------------------------------------------------------------

#navbar
  background-color: $primary-color
  position: fixed
  top: 0
  left: 0
  right: 0
  height: 55px

  +tablet
    position: static
    height: 45px

#logo
  position: absolute
  left: calc(50% - 88px)
  width: 176px
  height: 97px
  z-index: 1

  +tablet
    width: 150px
    height: 82px
    left: calc(50% - 75px)

#menu
  display: flex
  flex-direction: column
  background-color: #fff
  box-shadow: 1px 1px 8px #333
  position: relative
  top: 55px
  padding-top: 45px
  transform: translateY(-100%)
  transition: transform 0.3s ease-in-out

  +tablet
    position: static
    flex-direction: row
    vertical-align: center
    align-items: center
    background-color: transparent
    padding-top: 0
    transform: translateY(0)

  &.visible
    transform: translateY(0)

  li
    flex-grow: 1
    flex-basis: 0
    text-wrap: normal
    text-align: center

  a
    color: #333
    display: block
    height: 75px
    line-height: 75px
    text-decoration: none
    font-weight: 500

    +tablet
      color: #fff
      height: 45px
      line-height: 45px

      &:hover
        text-decoration: underline

#navbar-toggler
  display: flex
  justify-content: flex-end
  position: absolute
  top: 0
  left: 0
  right: 0
  padding: 5px 1em
  background-color: $primary-color

  a
    color: #fff
    border-radius: 4px
    height: 45px
    width: 45px
    text-align: center
    line-height: 45px
    font-size: 22px

    &:hover
      background-color: rgba(255, 255, 255, .1)

  +tablet
    display: none