<!DOCTYPE html>
<html lang="fr">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <!-- Icons -->
  <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ 'css/main.css' | relative_url }}">

  <title>{{ site.title }}</title>
</head>
<body>
  {% include navbar.html %}

  {{ content }}

  <!-- JavaScript -->
  <script src="{{ 'js/main.js' | relative_url }}"></script>
</body>
</html>